@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

body {
	font-family: 'Epilogue', sans-serif;
}

header {
	background-color: #fafafa;
	padding: 1rem;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
}

.header-container nav ul {
	display: flex;
	align-items: center;
}

nav ul li + li {
	margin-left: 4rem;
}

nav ul {
	position: relative;
}

.shopping-cart:hover {
	cursor: pointer;
}

.shopping-cart-items-count {
	display: flex;
	justify-content: center;
	position: absolute;
	right: -8px;
	bottom: 23px;
	background-color: #c7c7c7;
	padding: 0.34em;
	padding-top: 0.4em;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	font-size: 0.8rem;
}

.hide {
	display: none;
}

/* MAIN */
main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
	margin: 4rem auto;
	gap: 16px;
}

/* Product Items */
.product-list-item {
	margin-bottom: 1rem;
}

.product-list-item figure img {
	border-radius: 2px;
}

.product-list-item h2 {
	font-size: 1.2rem;
	margin: 0.5em 0;
}

.price-tag span {
	color: var(--secondary-color);
}

/* Product Controls */
.product-controls-container {
	display: flex;
	gap: 1.2rem;
	justify-content: flex-end;
}

.add-to-cart {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: black;
}

.product-controls-container button:hover {
	text-decoration: none;
}

/* Quantity Control */

.product-quantity-controls {
	display: flex;
	overflow: hidden;
	border-radius: 2px;
	font-size: 1rem;
}

.product-quantity-controls a {
	display: inline-block;
	background-color: #c7c7c7;
	text-decoration: none;
	padding: 0.2em;
}

.product-quantity-controls input {
	width: 30px;
	border: none;
	text-align: center;
	background-color: #e6e6e6;
	padding: 0.2em 0.1em 0.1em 0.1em;
}

/* Cart overlay */

.cart-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fafafa;
	width: 100%;
	height: 100%;
	padding: 4rem;
	overflow: scroll;
	overflow-x: hidden;
}

.close-cart img {
	position: absolute;
	right: 0;
	top: 0;
	margin: 1.8rem 2rem 0 0;
}

.cart-header-container {
	display: flex;
	justify-content: space-between;
	border-bottom: var(--seperator);
	padding-bottom: 1.2rem;
	margin-bottom: 2.2rem;
}

.cart-header-container h1 {
	font-size: 3rem;
}

.cart-header-details-container {
	display: flex;
	margin-right: 8rem;
}

.cart-header-details-container span {
	align-self: flex-end;
}

.cart-header-details-container span + span {
	margin-left: 4rem;
}

/* Cart Overlay Cart product */
.product-cart-item-container {
	display: flex;
	justify-content: space-between;
	border-bottom: var(--seperator);
	padding-bottom: 2.2rem;
	margin-bottom: 2.2rem;
}

.product-cart-item-container div:first-child {
	display: flex;
}

.product-cart-item-container div:first-child img {
	width: 200px;
	height: auto;
}

.product-cart-text-container {
	margin-left: 0.8rem;
}
.product-cart-text-container h2 {
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
}

.product-cart-text-container p {
	color: var(--secondary-color);
	max-width: 27rem;
}

.shopping-cart-details-container {
	position: relative;
	display: flex;
	align-content: center;
}

.shopping-cart-details-container p {
	position: relative;
	top: 12px;
}

.shopping-cart-details-container .product-quantity-controls {
	position: relative;
	top: 7px;
	align-self: flex-start;
	margin-left: 4.25rem;
}

.shopping-cart-details-container .shopping-cart-total-price {
	margin-left: 4.25rem;
}

.shopping-cart-details-container .remove-product {
	cursor: pointer;
}

.shopping-cart-details-container span img {
	position: relative;
	top: 10px;
	width: 18px;
	height: 18px;
	margin: 0 1rem 0 5.4rem;
	border-radius: 4px;
}

/* CART OVERLAY FOOTER */
.cart-overlay-footer div:first-child {
	display: flex;
	justify-content: flex-end;
	border-bottom: var(--seperator);
	padding-bottom: 2.2rem;
	margin-bottom: 2.2rem;
}

.cart-overlay-footer p span {
	font-weight: bold;
	margin-right: 9.3rem;
}

.cart-overlay-footer div:last-child {
	display: flex;
	justify-content: flex-end;
}

.cart-overlay-footer button {
	border: none;
	font-weight: bold;
	padding: 0.8em 2em;
	border-radius: 5px;
	color: var(--primary-color);
}

.cart-overlay-footer button:first-child {
	background-color: #E6E6E6;
	margin-right: 2rem;
}

.cart-overlay-footer button:last-child {
	background-color: #C7C7C7;
	margin-right: 7.6rem;
}